version: '2'
services:
  web:
    build: ./web
    ports:
      - "8000:80"
      - "3000:3000"
    environment:
     - MYSQL_SERVER=db
    depends_on:
      - memcached
      - db
    volumes:
      - /srv/docker/src/:/var/www/html/

  memcached:
    image: memcached    
  db:
    build: ./db
    ports:
      - "3306:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=password
    volumes:
      - /srv/docker/mysql:/var/lib/mysql
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    environment:
      - PMA_ARBITRARY=1
      - PMA_HOST=db
      - PMA_USER=root
      - PMA_PASSWORD=password
    depends_on:
      - db
    ports:
       - 8880:80
    volumes:
       - /sessions
      